body{

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/Flag_of_the_U.S._Central_Intelligence_Agency.svg/1200px-Flag_of_the_U.S._Central_Intelligence_Agency.svg.png);
    background-size: cover;
    background-position: bottom;
}